$primary-color: #50104e;
$primary-light-color: #f2f2fc;
$secondary-color: #df27ab;
$secondary-light-color: #fceeec;
$white-color: #fff;
$grey-color: #e0dedd;
$dark-grey-color: #888685;
$black-color: #000;
$success-color: #0c8059;
$warning-color: #e4d00a;
$danger-color: #e00707;
